.ui-textarea {
  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--box-shadow);

  width: 100%;
  padding: .8rem 1rem;
  resize: none;

  font-family: inherit;

  &::placeholder {
    color: rgba(var(--color-rgb-neutral-pure), .8);
  }
}
