.ui-input {
  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--box-shadow);

  padding: .8rem 1rem;

  &::placeholder {
    color: rgba(var(--color-rgb-neutral-pure), .8);
  }
}

.ui-input--error {
  border-color: var(--color-danger-pure);
  box-shadow: 0 0 14px -2px rgba(var(--color-rgb-danger-pure), .2);
}
