:root {
  --color-primary-light: #5d699a;
  --color-primary-pure: #394783;
  --color-primary-dark: #344279;

  --color-contrast-primary: white;

  --color-rgb-primary-light: 93,105,154;
  --color-rgb-primary-pure: 57,71,131;
  --color-rgb-primary-dark: 52,66,121;

  --color-accent: #ff3c6a;

  --color-neutral-lighter: #f3f3f3;
  --color-neutral-light: #b1b1b1;
  --color-neutral-pure: #aaaaaa;
  --color-neutral-dark: #7e7e7e;
  --color-neutral-darker: #505050;

  --color-rgb-neutral-lighter: 243,243,243;
  --color-rgb-neutral-light: 177,177,177;
  --color-rgb-neutral-pure: 170,170,170;
  --color-rgb-neutral-dark: 126,126,126;
  --color-rgb-neutral-darker: 80,80,80;

  --font-small: .85rem;
  --font-semibold: 500;

  --space-s: 16px;
  --space-m: 24px;
  --space-l: 32px;

  --size-content: 1200px;

  --border-radius: 5px;
  --border: 1px solid rgba(var(--color-rgb-neutral-light), .5);
  --box-shadow: 0 0 14px -2px rgba(var(--color-rgb-neutral-light), .2);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Fira Sans', sans-serif;
  color: var(--color-neutral-darker);
}

p,
strong,
button {
  background-color: transparent;
  border: none;
  font-weight: normal;
  margin: 0;
}
