.ui-button {
  border-radius: var(--border-radius);

  padding: .6rem var(--space-l);
  background-color: var(--color-primary-light);

  text-transform: uppercase;
  color: var(--color-contrast-primary);
}
